Rent_HouseWeb/Service References/UserService/UserService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2351/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFKostService" />
  <xs:element name="getUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFKostService" minOccurs="0" name="getUserResult" nillable="true" type="q1:ArrayOfUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserFromID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserFromIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFKostService" minOccurs="0" name="getUserFromIDResult" nillable="true" type="q2:ArrayOfUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserFromName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nama" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserFromNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFKostService" minOccurs="0" name="getUserFromNameResult" nillable="true" type="q3:ArrayOfUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFKostService" minOccurs="0" name="loginUserResult" nillable="true" type="q4:ArrayOfUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFKostService" minOccurs="0" name="data" nillable="true" type="q5:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFKostService" minOccurs="0" name="data" nillable="true" type="q6:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>