Rent_HouseWeb/Service References/UserService/UserService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFKostService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFKostService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserInfo" nillable="true" type="tns:UserInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserInfo" nillable="true" type="tns:ArrayOfUserInfo" />
  <xs:complexType name="UserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthdateUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Card_numberUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Card_typeUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumberUser" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInfo" nillable="true" type="tns:UserInfo" />
</xs:schema>