Rent_HouseWeb/Service References/RoomTypeService/RoomTypeService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFKostService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFKostService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRoomTypeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoomTypeInfo" nillable="true" type="tns:RoomTypeInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoomTypeInfo" nillable="true" type="tns:ArrayOfRoomTypeInfo" />
  <xs:complexType name="RoomTypeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDRoomType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InfoMonthPaid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InfoRoomType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriceRoomType" type="xs:int" />
      <xs:element minOccurs="0" name="TipeRoomType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalRoomType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoomTypeInfo" nillable="true" type="tns:RoomTypeInfo" />
</xs:schema>