Rent_HouseWeb/Service References/RoomTypeService/RoomTypeService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2351/RoomTypeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFKostService" />
  <xs:element name="getTotalRoomType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTotalRoomTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFKostService" minOccurs="0" name="getTotalRoomTypeResult" nillable="true" type="q1:ArrayOfRoomTypeInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRoomType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getRoomTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFKostService" minOccurs="0" name="getRoomTypeResult" nillable="true" type="q2:ArrayOfRoomTypeInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>