Rent_HouseWeb/Service References/ReservationService/ReservationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReservationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2351/ReservationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2351/ReservationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2351/ReservationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFKostService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReservationService_getReservationFromID_InputMessage">
    <wsdl:part name="parameters" element="tns:getReservationFromID" />
  </wsdl:message>
  <wsdl:message name="IReservationService_getReservationFromID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getReservationFromIDResponse" />
  </wsdl:message>
  <wsdl:message name="IReservationService_insertData_InputMessage">
    <wsdl:part name="parameters" element="tns:insertData" />
  </wsdl:message>
  <wsdl:message name="IReservationService_insertData_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IReservationService">
    <wsdl:operation name="getReservationFromID">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservationService/getReservationFromID" message="tns:IReservationService_getReservationFromID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservationService/getReservationFromIDResponse" message="tns:IReservationService_getReservationFromID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertData">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservationService/insertData" message="tns:IReservationService_insertData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservationService/insertDataResponse" message="tns:IReservationService_insertData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReservationService" type="tns:IReservationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getReservationFromID">
      <soap:operation soapAction="http://tempuri.org/IReservationService/getReservationFromID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertData">
      <soap:operation soapAction="http://tempuri.org/IReservationService/insertData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReservationService">
    <wsdl:port name="BasicHttpBinding_IReservationService" binding="tns:BasicHttpBinding_IReservationService">
      <soap:address location="http://localhost:2351/ReservationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>